-- AlterTable
ALTER TABLE "CareerMessage" ADD COLUMN     "readByAdminAt" TIMESTAMP(3),
ADD COLUMN     "readByClientAt" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "RnMessage" ADD COLUMN     "readByAdminAt" TIMESTAMP(3),
ADD COLUMN     "readByClientAt" TIMESTAMP(3);

-- CreateTable
CREATE TABLE "InvoiceClientLink" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "purpose" TEXT NOT NULL DEFAULT 'INITIAL',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InvoiceClientLink_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientUpgradeHistory" (
    "id" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "previousServices" JSONB NOT NULL,
    "addedServices" JSONB NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ClientUpgradeHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Feedback" (
    "id" TEXT NOT NULL,
    "careerClientId" TEXT,
    "rnClientId" TEXT,
    "serviceType" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "npsScore" INTEGER NOT NULL,
    "communication" INTEGER NOT NULL,
    "deliveryQuality" INTEGER NOT NULL,
    "turnaroundTime" INTEGER NOT NULL,
    "comments" TEXT,
    "deliveryDurationDays" INTEGER,
    "revisionCount" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Review" (
    "id" TEXT NOT NULL,
    "careerClientId" TEXT,
    "rnClientId" TEXT,
    "rating" INTEGER NOT NULL,
    "testimonial" TEXT NOT NULL,
    "designation" TEXT,
    "company" TEXT,
    "linkedinUrl" TEXT,
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Review_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientHealthScore" (
    "id" TEXT NOT NULL,
    "careerClientId" TEXT,
    "rnClientId" TEXT,
    "score" DOUBLE PRECISION NOT NULL,
    "satisfaction" DOUBLE PRECISION,
    "responseSpeed" DOUBLE PRECISION,
    "revisionRisk" DOUBLE PRECISION,
    "status" TEXT NOT NULL,
    "lastCalculatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ClientHealthScore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConversationReadState" (
    "id" TEXT NOT NULL,
    "careerClientId" TEXT,
    "rnClientId" TEXT,
    "unreadByAdmin" INTEGER NOT NULL DEFAULT 0,
    "unreadByClient" INTEGER NOT NULL DEFAULT 0,
    "lastMessageAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastMessageBy" TEXT NOT NULL DEFAULT 'client',

    CONSTRAINT "ConversationReadState_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClientNotification" (
    "id" TEXT NOT NULL,
    "careerClientId" TEXT,
    "rnClientId" TEXT,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "link" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "type" TEXT NOT NULL DEFAULT 'INFO',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ClientNotification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "InvoiceClientLink_invoiceId_key" ON "InvoiceClientLink"("invoiceId");

-- CreateIndex
CREATE INDEX "InvoiceClientLink_clientId_idx" ON "InvoiceClientLink"("clientId");

-- CreateIndex
CREATE UNIQUE INDEX "InvoiceClientLink_clientId_invoiceId_key" ON "InvoiceClientLink"("clientId", "invoiceId");

-- CreateIndex
CREATE UNIQUE INDEX "Feedback_careerClientId_key" ON "Feedback"("careerClientId");

-- CreateIndex
CREATE UNIQUE INDEX "Feedback_rnClientId_key" ON "Feedback"("rnClientId");

-- CreateIndex
CREATE UNIQUE INDEX "Review_careerClientId_key" ON "Review"("careerClientId");

-- CreateIndex
CREATE UNIQUE INDEX "Review_rnClientId_key" ON "Review"("rnClientId");

-- CreateIndex
CREATE UNIQUE INDEX "ClientHealthScore_careerClientId_key" ON "ClientHealthScore"("careerClientId");

-- CreateIndex
CREATE UNIQUE INDEX "ClientHealthScore_rnClientId_key" ON "ClientHealthScore"("rnClientId");

-- CreateIndex
CREATE UNIQUE INDEX "ConversationReadState_careerClientId_key" ON "ConversationReadState"("careerClientId");

-- CreateIndex
CREATE UNIQUE INDEX "ConversationReadState_rnClientId_key" ON "ConversationReadState"("rnClientId");

-- CreateIndex
CREATE INDEX "ConversationReadState_unreadByAdmin_idx" ON "ConversationReadState"("unreadByAdmin");

-- CreateIndex
CREATE INDEX "ConversationReadState_unreadByClient_idx" ON "ConversationReadState"("unreadByClient");

-- CreateIndex
CREATE INDEX "ConversationReadState_lastMessageAt_idx" ON "ConversationReadState"("lastMessageAt");

-- CreateIndex
CREATE INDEX "ClientNotification_careerClientId_isRead_idx" ON "ClientNotification"("careerClientId", "isRead");

-- CreateIndex
CREATE INDEX "ClientNotification_rnClientId_isRead_idx" ON "ClientNotification"("rnClientId", "isRead");

-- AddForeignKey
ALTER TABLE "InvoiceClientLink" ADD CONSTRAINT "InvoiceClientLink_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InvoiceClientLink" ADD CONSTRAINT "InvoiceClientLink_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES "Invoice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientUpgradeHistory" ADD CONSTRAINT "ClientUpgradeHistory_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feedback" ADD CONSTRAINT "Feedback_careerClientId_fkey" FOREIGN KEY ("careerClientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feedback" ADD CONSTRAINT "Feedback_rnClientId_fkey" FOREIGN KEY ("rnClientId") REFERENCES "RnClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_careerClientId_fkey" FOREIGN KEY ("careerClientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_rnClientId_fkey" FOREIGN KEY ("rnClientId") REFERENCES "RnClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientHealthScore" ADD CONSTRAINT "ClientHealthScore_careerClientId_fkey" FOREIGN KEY ("careerClientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientHealthScore" ADD CONSTRAINT "ClientHealthScore_rnClientId_fkey" FOREIGN KEY ("rnClientId") REFERENCES "RnClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConversationReadState" ADD CONSTRAINT "ConversationReadState_careerClientId_fkey" FOREIGN KEY ("careerClientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConversationReadState" ADD CONSTRAINT "ConversationReadState_rnClientId_fkey" FOREIGN KEY ("rnClientId") REFERENCES "RnClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientNotification" ADD CONSTRAINT "ClientNotification_careerClientId_fkey" FOREIGN KEY ("careerClientId") REFERENCES "CareerClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientNotification" ADD CONSTRAINT "ClientNotification_rnClientId_fkey" FOREIGN KEY ("rnClientId") REFERENCES "RnClient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

